*.egg-info
*.pyc
*.png
*.usd
assets/*
**/.ipynb_checkpoints
**/**.mp4
**/**.npz
**/**.log
**/**.json
!torch.json
**/**.npy
**/**.txt
!src/b3d/renderer/**/**.txt
assets/kitti/*
**/**.pth
.pixi/envs/*
.pixi/solve-group-envs/*
.#*
__pycache__/
*.py[cod]
docs/*
test_results/
.pixi/*
saved_traces/*
.DS_Store
