*.egg-info
*.pyc
*.png
assets/shared_data_bucket/*
assets/test_results/*
!assets/test_results/README.md
assets/bop/*
assets/nuscenes/*
assets/ycbineoat/*
**/.ipynb_checkpoints
**/**.mp4
**/**.npz
**/**.log
**/**.json
!torch.json
**/**.npy
**/**.txt
!src/b3d/renderer/**/**.txt
assets/kitti/*
**/**.pth
.pixi/envs/*
.#*
__pycache__/
*.py[cod]
